/* Header.css */

.main-header {
  height: 400px -120px;   width: 100%;
  background-color: #f5a300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");


  
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;

margin-top: 100px;

  }

  .main-header h2 {
    color: white;
  }
  
  .main-header h2 .first-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
  }
  
  .main-header h2 .last-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;

  }

  @media screen and (min-width: 1024px) {
    .main-header {
      flex-basis: 33.33%;
      float: left;
      height: 556px;
      width: 556px;
      margin:50px;
      margin-top: 150px;
      bottom:0;  
    }
  }