/* ******************** error-messages********************** */
.error-messages {
  display: none;
  color: red;
  border: 3px solid;
  border-color: red;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 800;
}

.error-messages.above-input {
  position: absolute;
  top: -40px;
  width: 100%;
}


.new-tweet {
  text-align: justify;
  margin-top: 2rem;
}

.new-tweet h2 {
  font-weight: bold;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}


.new-tweet textarea {
  border: none;
  background-color: #f4f1ec;
  border-bottom: 4px solid black;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  resize: none;
  width: 100%;
}

.new-tweet textarea:focus {
  outline: none;
  border-bottom: 4px solid black;
}

.new-tweet label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.new-tweet button {
  background-color: blue;
  color: white;
  font-family: 'Bungee', cursive;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
}

.new-tweet .form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-tweet .counter {
  font-weight: bold;
}

.counter.invalid {
  color: red;
}

/***************************************** TWEETS***************************** */

.tweet {
  background-color: #f4f1ec;
  border: 3px solid black;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  transition: box-shadow 0.3s ease;
}

.tweet-details {
  flex-grow: 1;
}

.tweet .avatar-container {
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.tweet .avatar-content {
  display: flex;
  align-items: baseline;
}

.tweet .avatar-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.tweet .name-handle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet .handle {
  margin-left: 10px;
}

.tweet .content {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.tweet .timestamp {
  color: #888;
  margin-left: 5px;
  align-items: baseline;
}

.tweet .icons {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.tweet .icons i {
  margin-left: 5px;
  color: #888;
}

.tweet {
  transition: box-shadow 0.3s ease;
}

.tweet:hover {
  box-shadow: 0 0 5px rgb(15, 1, 1);
}

.tweet:hover .icons i {
  color: blue;
}

/* REPOSNIVE CSS */

/* Desktop screens */
@media screen and (min-width: 1024px) {

  .new-tweet {
    flex-basis: 66.66%;
  }

  #tweet-container {
    flex-basis: 100%;
  }

  .container {
    margin-top: 150px;
  }
}


/* Mobile screens */
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .main-header {
    order: 2;
    margin-bottom: 10px;
  }

  .new-tweet {
    order: 1;
  }

  #tweet-container {
    order: 3;
  }

}